<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Cadastro de Veículos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmMoto" class="mt-2 row g-3">
            <div class="col-md-5">
                <label for="inputProprietarioClient" class="form-label">Nome do cliente</label>
                <input type="text" class="form-control" id="inputProprietarioClient" spellcheck="false" maxlength="15">
            </div>
            <div class="col-md-3">
                <label for="inputMarcaClient" class="form-label">Montadora</label>
                <input type="text" class="form-control" id="inputMarcaClient" spellcheck="false" required
                    maxlength="15">
            </div>
            <div class="col-md-4">
                <label for="inputModeloClient" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="inputModeloClient" spellcheck="false" required
                    maxlength="20">
            </div>
            <div class="col-md-3">
                <label for="inputAnoClient" class="form-label">Ano modelo</label>
                <input type="text" class="form-control" id="inputAnoClient" spellcheck="false" maxlength="15">
            </div>
            <div class="col-md-3">
                <label for="inputPlacaClient" class="form-label">Placa</label>
                <input type="text" class="form-control" id="inputPlacaClient" spellcheck="false" required
                    maxlength="15">
            </div>
            <div class="col-md-2">
                <label for="inputCorClient" class="form-label">Cor</label>
                <input type="text" class="form-control" id="inputCorClient" spellcheck="false" required maxlength="15">
            </div>
            <div class="col-md-4">
                <label for="inputChassiClient" class="form-label">Nr. Chassi</label>
                <input type="text" class="form-control" id="inputChassiClient" spellcheck="false" required
                    maxlength="30">
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../views/rendererMoto.js"></script>
</body>

</html>