<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form class="mt-2 row g-3" id="frmOS">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº da Ordem</label>
                <input type="text" class="form-control" id="inputOS" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data Entrada</label>
                <input type="text" class="form-control" id="inputData" disabled>
            </div>

            <!-- Buscar cliente -->
            <div class="col-md-4">
                <label for="inputSearchClient" class="form-label">Buscar Cliente</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputSearchClient" spellcheck="false" maxlength="30">
                    <span class="input-group-text">
                        <img src="../public/img/search.png" alt="lupa" width="20">
                    </span>
                </div>
                <!-- lista de sugestoes  - estilo google -->
                 <ul id="viewListSuggestion" class="list-group position-absolute w-100"></ul>
            </div>

            <!-- Id -->
            <div class="col-md-3">
                <label for="inputIdClient" class="form-label">ID do Cliente</label>
                <input type="text" class="form-control" id="inputIdClient" spellcheck="false" maxlength="15" disabled>
            </div>

            <!-- Nome -->
            <div class="col-md-3">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" maxlength="30" disabled>
            </div>

            <!-- Telefone -->
            <div class="col-md-2">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15"
                    disabled>
            </div>

            <input type="text" id="idClient"> <!-- oculto -->

            <!--CPF--> 
            <div class="col-md-4 ">
                <label for="inputCPFClient" class="form-label">CPF/CNPJ</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15" disabled>
            </div> 

            <!-- Linha -->
            <hr class="mt-4 border border-secondary border -1">

            <!-- Descrição do Serviço -->
            <div class="col-md-12">
                <label for="serviceDescription" class="form-label">Observações / Ocorrências</label>
                <textarea class="form-control" id="serviceDescription" rows="3" maxlength="200" required></textarea>
            </div>

            <!-- Materiais utilizados -->
            <div class="col-md-12">
                <label for="inputPecasClient" class="form-label">Serviço Executado</label>
                <input type="text" class="form-control" id="inputPecasClient" spellcheck="false" required maxlength="60">
               </div>

            <!-- Data de conclusão -->
            <div class="col-md-3">
                <label for="inputconclusãoClient" class="form-label">Data Saída</label>
                <input type="text" class="form-control" id="inputconclusãoClient" spellcheck="false" required maxlength="30">
               </div>

            <!-- Orçamento do serviço -->
            <div class="col-md-3">
                <label for="inputOrcamentoClient" class="form-label">Orçamento do serviço</label>
                <input type="text" class="form-control" id="inputOrcamentoClient" spellcheck="false" required maxlength="30">
               </div>

            <!-- Forma de pagamento -->
            <div class="col-md-3">
                <label for="inputpagamentoClient" class="form-label">Forma de pagamento</label>
                <select type="text" class="form-select" id="inputpagamentoClient" spellcheck="false" required maxlength="20">
                    <option value="">Pagamento</option>
                    <option>Pix</option>
                    <option>Cartão Débito</option>
                    <option>Cartão Crédito</option>
                    <option>Dinheiro</option>
                    <option>Boleto</option>
                </select>
               </div>

            <!-- Status -->
            <div class="col-md-3">
                <label class="form-label">Status da OS</label>
                <select class="form-select" id="osStatus">
                    <option value="">Selecione</option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Aguardando peças</option>
                    <option>Finalizada</option>
                    <option>Cancelada</option>
                </select>
            </div>
                                    
            <!-- Linha -->
            <hr class="row mt-4 aling-itens-end">

            <div class="mt-2 justify-content-center gap-1 aling-itens-center">
                <button type="submit" class="btn btn-success" id="btnCreate">Gerar OS</button>  
                <button type="button" class="btn btn-primary" onclick="findOS()" >Buscar OS</button>              
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar OS</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir OS</button>  
                <button type="button" class="btn btn-secondary">Imprimir OS</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- renderizador -->
    <script src="../views/rendererOs.js"></script>
</body>

</html>