@charset "utf-8";

/* Botões (tela principal) */
.button img {
    margin: 50px 30px 25px 45px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 7%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/* Botao reset */
#btnReset {
    width: 48px;
    height: 48px;
    background-image: url('../img/clear.png');
    border: none;
    cursor: pointer; 
    margin-left: 10px;
} 

/* logo */
#logo {
    position: fixed;
    bottom: 36px;
    right: 5px;
    border: none;
    cursor: none;
    margin-left: -300px;
}

/* ocultar o campomdo cliente */
#idClient {
    display: none;
}

/* rodapé */
footer {
    background-color: #0078d7;
    color: white;    
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    font-size: 12pt;
    display: flex;    
    justify-content: space-between;    
}

/* rodapé */
footer p {
    color: #ffffff;
    padding-top: 6px;
    margin: 0;
    font-size: 1.1em;
}

/* Botao reset */
#btnReset {
    width: 48px;
    height: 48px;
    background-image: url('../img/clear.png');
    border: none;
    cursor: pointer;
}

/* lista de clientes vinculados a OS */
#viewListSuggestion {
    z-index: 2;
    max-width: 301px;
}

body {
    background-color: #d3d3d3;
}

/*#viewListSuggestion li {
    background-color: #E0F0FF;
} */

/* Dados do cliente - OS */
#inputSearchClient, 
#viewListSuggestion, 
#inputIdClient, 
#inputNameClient, 
#inputPhoneClient {
    font-size: 0.9em;
}
/* ADICONADO POR ULTIMO*/
/* Botão Buscar OS */
#btnBuscaOS {
    margin-left: 370px;
}

/* Remove as setas em todos os navegadores */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari e Chrome */
}

/* Remove as setas do Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}